<h1>
  Tenants
  <a href="/apartments/<%= @apartment.id %>/tenants/new">(+)</a>
  for
  <a href="/apartments/<%= @apartment.id %>">
    <%= @apartment %>
  </a>
</h1>


    <% tenants.each do |tenant| %>
      <li>
        <%= tenant %>
      </li>
    <% end %>
